<form action="/" method="GET">
 <fieldset>
  <label>Name:
   <input type= "text" name="text_input" size= "30" maxlength= "50">

  <label>Reps:
   <input type= "number" name="numerical_input" size= "30" maxlength= "50">

  <label>Weight:
   <input type= "number" name="numerical_input" size= "30" maxlength= "50">

  <label>Date:
   <input type= "date" name="date_input" size= "30" maxlength= "50">
   <br>
  <label>Lbs: Yes / Kg: No
  <br>
   <input type= "radio" name="lbs" value ="1">Yes</input>
   <br>
   <input type= "radio" name="lbs" value ="0">No</input>
 <input type="submit" value="Submit">
 </fieldset>
</form>
<br>
<table>
 <caption>Exercise Chart</caption>
 <thead>
  <tr>
   <th> Name
   <th> # of Reps
   <th> Weight
   <th> Date
   <th> Lbs
 <tbody>
  {{#each dataRows}}
   <tr id={{this.id}}>
     <td> {{this.name}}
     <td> {{this.reps}}
     <td> {{this.weight}}
     <td> {{this.date}}
     <td> {{this.lbs}}
     <td> <form action="/edit" method="get"><input type="button" name="edit" value="Update"></input></form>
     <td> <form action="/" method="get"><input type="button" name="delete" value="Remove"></input></form>
  {{/each}}
</table>
