<table>
 <caption>Exercise Chart</caption>
 <thead>
  <tr>
   <th> Name
   <th> # of Reps
   <th> Weight
   <th> Date
   <th> Lbs
 <tbody>
   {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
  {{#each dataRow}}
  <tr>
   <td> {{this.name}}
   <td> {{this.reps}}
   <td> {{this.weight}}
   <td> {{this.date}}
   <td> {{this.pounds}}
   <td> <form action="/edit" method="get"><input type="button" name="edit" value="update">Edit</input></form>
   <td> <form action="/" method="get"><input type="button" name="delete" value="remove">Delete</input></form>
  <tr>
  {{/each}}
</table>
